%% -*- erlang -*-
%%
%% Standard rebar.config for a simple Erlang application
%%
{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]}]}.

% Dialyzer configuration (optional, but good practice)
{dialyzer, [
    {warnings, [unknown]}, % Add other warnings as needed
    {plt_apps, top_level_deps}, % or all_deps
    {plt_extra_apps, []},
    {get_warnings, false},
    {remove_abs_path, true}
]}.

% EUnit options
{eunit_opts, [verbose]}.
